modules = ["python-3.12"]

[languages.python.lsp]
name = "pyright"
command = ["pyright-langserver", "--stdio"]

[languages.python.languageServer]
start = "pyright-langserver --stdio"
run = "python3 main.py"

[nix]
channel = "stable-25_05"
packages = ["pyright", "python313Packages.ruff"]

[agent]
expertMode = true
